footer.d-flex.justify-content-center
    .footer-list
        ul
            li
                a(href="#categories") Категорії товару
            li
                a(href="#aboutus") Про нас
            li
                a(href="#form") Зв’язатись із нами
        ul
            li
                a(href="" onclick="event.preventDefault()").cart-open-btn Кошик

    
    ul
        li
            a(href="category.html" data-value="Electronics").category-link Електроніка
        li
            a(href="category.html" data-value="Clocks").category-link Годинники
        li
            a(href="category.html" data-value="Dishes").category-link Посуд
        li
            a(href="category.html" data-value="Models").category-link Статуетки, моделі
        li
            a(href="category.html" data-value="Art").category-link Мистецтво
        li
            a(href="category.html" data-value="Other").category-link Інше
