footer.d-flex.justify-content-center
    .footer-list
        ul
            li
                a(href="") Категорії товару
            li
                a(href="") Про нас
            li
                a(href="") Зв’язатись із нами
        ul
            li
                a(href="") Кошик
            li
                a(href="") Обрані товари
    
    ul
        li
            a(href="") Посуд
        li
            a(href="") Годинники
        li
            a(href="") Статуетки, моделі
        li
            a(href="") Мистецтво
        li
            a(href="") Інше
