header 
    .header-line 
        .wrapper
            nav.d-flex.justify-content-between.w-100
                ul.align-items-end.d-none.d-md-none.d-lg-flex
                    li
                        a(href="#") Пошук
                    li
                        a(href="#") Категорії
                    li
                        a(href="#") Про нас
                    li
                        a(href="#") Зв'язок
                    
                ul.d-flex
                    a(href="#").cart.d-flex.align-items-center
                        img(src="img/cart.svg", alt="")
                    