header 
    .header-line 
        .wrapper
            nav.d-flex.justify-content-between.w-100
                
                ul.align-items-center.align-items-md-end.align-items-lg-end.d-flex.burger-list#nav-list
                    li.d-block.d-md-none.d-lg-none
                        .burger
                            span
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#search" data-section="search") Пошук
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#categories" data-section="categories") Категорії
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#aboutus" data-section="aboutus") Про нас
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#form" data-section="form") Зв'язок
                    
                ul.d-flex
                    a(href="#").cart.d-flex.align-items-center.cart-open-btn
                        img(src="img/cart.svg", alt="")

.basket-popup.check-out-popup-js
    .basket-header
        .wrapper.d-flex.justify-content-between
            h2 Оформлення
            .cross.d-flex.justify-content-center.align-items-center.checkout-btn
                img(src="img/cross.svg", alt="")
    .wrapper.basket-main.products.row.g-5.d-flex
        .contact-form.contact-form-popup
            form(action="") 
                label(for="userName") 
                    p Ім'я

                input(type="text", name="userName" placeholder="Написати...").search
                label(for="userName") 
                    p Телефон

                input(type="text", name="userName" placeholder="Написати...").search
                label(for="userName") 
                    p Зручний месенджер

                input(type="text", name="userName" placeholder="Написати...").search
                
                p Спосіб достаки
                .delivery-type
                    .row.g-3 
                        .col-12
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType1")
                                label(for="deliveryType1") Нова пошта “Сейф- сервіс”
                        .col-12.row
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType2")
                                label(for="deliveryType2") Нова пошта “Накладний платіж”
                        .col-12.row
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType3")
                                label(for="deliveryType3") Укр. пошта “Накладний платіж”
                
                label(for="city") 
                    p Населений пункт
                input(type="text", name="city" placeholder="Написати...").search

                label(for="department") 
                    p Відділення, або поштомат

                input(type="text", name="department" placeholder="Написати...").search

                
    .basket-footer
        .wrapper.d-flex.justify-content-between.align-items-center
            h2 9999 грн
            .buy-btn
                a(href="#") Замовити
.basket-popup.basket-popup-js
    .basket-header
        .wrapper.d-flex.justify-content-between
            h2 Кошик
            .cross.d-flex.justify-content-center.align-items-center.cart-open-btn
                img(src="img/cross.svg", alt="")
    .wrapper.basket-main.products.row.g-5.d-flex
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
        include product-basket.pug
    .basket-footer
        .wrapper.d-flex.justify-content-between.align-items-center
            h2 9999 грн
            .buy-btn
                a(href="#").checkout-btn Замовити

.header-sm-popup
    ul
        li
            a(href="index.html#search").w-100 Пошук
        li
            a(href="index.html#categories").w-100 Категорії
        li
            a(href="index.html#aboutus").w-100 Про нас
        li
            a(href="index.html#form").w-100 Зв'язок
