header 
    .header-line 
        .wrapper
            nav.d-flex.justify-content-between.w-100
                
                ul.align-items-center.align-items-md-end.align-items-lg-end.d-flex.burger-list#nav-list
                    li.d-block.d-md-none.d-lg-none
                        .burger
                            span
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#search" data-section="search") Пошук
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#categories" data-section="categories") Категорії
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#aboutus" data-section="aboutus") Про нас
                    li.d-none.d-md-block.d-lg-block
                        a(href="index.html#form" data-section="form") Зв'язок
                    
                ul.d-flex
                    a(href="#").cart.d-flex.align-items-center.cart-open-btn#cartUpdate.relative
                        img(src="img/cart.svg", alt="")
                        .triangle

.basket-popup.check-out-popup-js
    .basket-header
        .wrapper.d-flex.justify-content-between
            h2 Оформлення
            .cross.d-flex.justify-content-center.align-items-center.checkout-btn
                img(src="img/cross.svg", alt="")
    .wrapper.basket-main.products.row.g-5.d-flex
        .contact-form.contact-form-popup
            form(action="")#checkOutForm
                label(for="userName") 
                    p Ім'я та прізвище

                input(type="text", name="userName" placeholder="Написати..." required).search
                label(for="userName") 
                    p Телефон

                input(type="tel", name="userName" placeholder="Написати..." required).search#phoneInput
                label(for="userPromo") 
                    p#isPromoUsed Промокод

                input(type="text", name="userPromo" placeholder="Написати...").search
                
                p Спосіб достаки
                .delivery-type
                    .row.g-3 
                        .col-12
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType1" required)
                                label(for="deliveryType1") Нова пошта “Сейф- сервіс”
                        .col-12.row
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType2" required)
                                label(for="deliveryType2") Нова пошта “Накладний платіж”
                        .col-12.row
                            .d-flex.btnsrow
                                input(type="radio" name="deliveryType" id="deliveryType3" required)
                                label(for="deliveryType3") Укр. пошта “Накладний платіж”
                
                label(for="city") 
                    p Населений пункт
                input(type="text", name="city" placeholder="Написати..." required).search

                label(for="department") 
                    p Відділення, або поштомат

                input(type="text", name="department" placeholder="Написати..." required).search

                
                .basket-footer
                    .wrapper.d-flex.justify-content-between.align-items-center
                        h2#allPriceWithPromo 9999 грн
                        .buy-btn

                            button(type="submit").check-out-open-ready-popup.button Замовити
.basket-popup.basket-popup-js
    .basket-header
        .wrapper.d-flex.justify-content-between
            h2 Кошик
            .cross.d-flex.justify-content-center.align-items-center.cart-open-btn(onclick= "location.reload()")
                img(src="img/cross.svg", alt="")
    .wrapper.basket-main.products.row.g-5.d-flex#productsInBasket

    .basket-footer
        .wrapper.d-flex.justify-content-between.align-items-center
            h2#totalPrice 9999 грн
            .buy-btn
                a(href="#").checkout-btn#checkoutBtn.button Замовити

.header-sm-popup
    ul
        li
            a(href="index.html#search").w-100 Пошук
        li
            a(href="index.html#categories").w-100 Категорії
        li
            a(href="index.html#aboutus").w-100 Про нас
        li
            a(href="index.html#form").w-100 Зв'язок

.succsessful.succsessful-feedback.d-none
    p Дякуємо за звернення, ми обов’язково надішлемо вам відповідь!
    a(href="index.html#form").button.feedback-popup-open Зв’язатись знову


.succsessful.succsessful-order.d-none
    p Дякуємо за замовлення, ми вже готуємо його до відправки...
    a(href="index.html").button Продовжити покупки
