header 
    .header-line 
        .wrapper
            nav.d-flex.justify-content-between.w-100
                
                ul.align-items-center.align-items-md-end.align-items-lg-end.d-flex.burger-list#nav-list
                    li.d-block.d-md-none.d-lg-none
                        .burger
                            span
                    li.d-none.d-md-block.d-lg-block
                        a(href="#search" data-section="search") Пошук
                    li.d-none.d-md-block.d-lg-block
                        a(href="#categories" data-section="categories") Категорії
                    li.d-none.d-md-block.d-lg-block
                        a(href="#aboutus" data-section="aboutus") Про нас
                    li.d-none.d-md-block.d-lg-block
                        a(href="#form" data-section="form") Зв'язок
                    
                ul.d-flex
                    a(href="#").cart.d-flex.align-items-center
                        img(src="img/cart.svg", alt="")

