figure.col-sm-12.col-md-4.col-lg-3
    
    figcaption 
        .figure-image 
            img(src="img/product-card-image.jpeg", alt="")
            a(href="#").figure-to-card-page
        .card-text-block.d-flex.justify-content-between.w-100
            .description-card 
                p  Тіпа жосткий старий товарчик
                p.price 999 грн.
            a(href="#").card-btn.al-center.d-flex.justify-content-center
                img(src="img/cart.svg", alt="")