.col-6
    figure.figure-basket
        figcaption 
            .figure-image 
                img(src="img/product-card-image.jpeg", alt="")
                a(href="product-card.html").figure-to-card-page
            .card-text-block.d-flex.justify-content-between.w-100
                a(href="product-card.html").description-card 
                    p  Тіпа жосткий старий товарчик
                    p.price 999 грн.
                a(href="#").card-btn.al-center.d-flex.justify-content-center
                    img(src="img/cart.svg", alt="")